* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #db7093;
}

.container {
  position: relative;
  top: 50px;
}

.cup {
  position: relative;
  width: 220px;
  height: 300px;
  background: linear-gradient(
    to right,
    #eeeef0,
    #eeeef0,
    #eeeef0,
    #eeeef0,
    #d9d9d9,
    #d9d9d9,
    #f8ffff
  );
  border-bottom-left-radius: 44%;
  border-bottom-right-radius: 44%;
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  color: bisque;
  font-family: poppins;
  font-size: x-small;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.top {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #f9f9f9, #eeeef0, #f0fffb, #d9d9d9);
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 22px);
  height: 50px;
  background: linear-gradient(
    to left
    #f9f9f9,
    #eeeef0,
    #f7ffff,
    #d9d9d9
    );
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.tea {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    #c57e65,
    #e28662,
    #e28662,
    #c57e65,
    #e28662
  );
  border-radius: 47%;
}

.plate {
  position: absolute;
  bottom: -90px;
  left: 52%;
  transform: translateX(-51%);
  width: 550px;
  height: 290px;
  background: linear-gradient(
    to right,
    #d6dbda,
    #d6efff,
    #afcdd4,
    #e0ecf3,
    #e6fdff
  );
  border: 1px solid #d1d1d1;
  border-radius: 55%;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.15),
    0 2px 5px rgba(0, 0, 0, 0.1);
}

.plate::before {
  content: "";
  position: relative;
  top: 20px;
  left: 30px;
  width: 500px;
  height: 200px;
  background: radial-gradient(
    circle at 30% 40%,
    #f3eeee 0%,
    #d6dbda 30%,
    #bbebe3 60%,
    #adc9ec 90%,
    #ebf2f7 100%
  );
  border-radius: 55%;
  z-index: -1;
}

.plate::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 8px;
  width: 400px;
  height: 200px;
  background: radial-gradient(rgb(124, 122, 122) 15%, transparent, transparent);
  border-radius: 50%;
  z-index: -1;
}

.inner_plate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -53%);
  width: 450px;
  height: 220px;
  border-radius: 50%;
  background: radial-gradient(rgb(255, 255, 255), rgba(228, 204, 204, 0));
  box-shadow: inset 1px 0 5px rgba(203, 204, 204, 0.822);
}

.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 0.5px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * 0.2s);
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-150px) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scaleX(10);
  }
}
